:root{
    --red: 209,0,0;
    --lila: 81,94,148;
    --white: 255,255,255;
    --blue: 13,22,40;
    --poppins: Poppins;
}

//--red: rgb(209,0,0);
//--lila: rgb(81,94,148);
//--white: rgb(255,255,255);
//--blue: rgb(13,22,40);